* {
    margin: 0;
    padding: 0;
    opacity: 1;
}
*::-webkit-scrollbar {
    display: none;
}


body {
    background-image: url('../img/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Comic Sans MS';
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/backgroundHeader.webp');
}

#headerLeft {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

#headerLeft:hover {
    transform: scale(1.05);
    transition: 1s all;
    background-color: rgb(234, 56, 56);
}

#headerLeft h1 {
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-decoration: none;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    margin: 10px;
}

#headerRigth {
    display: flex;
    align-items: center;
}

#headerRigth a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 10px;
}

#logoHeader {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 1% 0%;
}

#btnLogin:hover {
    background-color: rgb(234, 56, 56);
    padding: 10px;
    scale: 1.1;
    border-radius: 10px;
    transition: 1s;
}

#carroHeader {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: 1s all;
    border-radius: 20%;
}

#carroHeader:hover {
    transform: scale(1.1);
    transition: 1s all;
    background-color: rgb(234, 56, 56);
}

#displayCart {
    display: none;
    border: 2px solid black;
    position: fixed;
    right: 3%;
    top: 8%;
    width: 40%;
    height: 20%;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
    padding: 1%;
}
#displayCart div:nth-of-type(1) {
    margin-top: 50%;
}
.imgInCart {
    width: 20%;
    height: 20%;
    margin: 10px;
}
#h2fixed {
    position: fixed;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
}

#h2fixed:hover {
    transform: scale(1.1);
    transition: 1s all;
    background-color: rgb(234, 56, 56);
    
}

#pfixed {
    position: fixed;
    top: 15%;
    color: red;
    background-color: white;
}

/* NAV */
nav {
    background-image: url('../img/backgroundHeader.webp');
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    justify-items: center;
    list-style: none;
}

nav ul li button {
    background-color: rgb(225, 181, 181);
    font-family: 'Comic Sans MS';
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

nav ul li button:hover {
    background-color: rgb(234, 56, 56);
    padding: 10px;
    scale: 1.1;
    border-radius: 10px;
    transition: 0.5s;
}

/* BUTTONS */
button {
    cursor: pointer;
}

#btnAsc {
    background-color: rgb(225, 181, 181);
    font-family: 'Comic Sans MS';
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

#btnAsc:hover {
    background-color: rgb(234, 56, 56);
    padding: 10px;
    scale: 1.1;
    border-radius: 10px;
    transition: 0.5s;
}

#btnDesc {
    background-color: rgb(225, 181, 181);
    font-family: 'Comic Sans MS';
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

#btnDesc:hover {
    background-color: rgb(234, 56, 56);
    padding: 10px;
    scale: 1.1;
    border-radius: 10px;
    transition: 0.5s;
}
/* GIF loading */
#GIF {
    display: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(50% - 25px);
    text-align: center;
}
#loadingImg {
    width: 50px;
    height: 50px;
    margin: 10px;
}
/* MENSAJE ADD CARRO */
#animationAddCart {
    display: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    padding: 80px;
    width: 200px;
    height: 100px;
    transition: 1s ease-in-out;
}

/* vistas */
#vistas {
    padding-bottom: 1%;
    height: 80vh;
}

/* VISTA HOME */
.sloganDiv {
    text-align: center;
    margin-top: 5%;
}

.slogan {
    max-width: 80%;
}

/* VISTA PRODUCTO */
.buttonFilter {
    text-align: center;
    margin: 1%;
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 5%;
}
.product {
    font-size: 0.8em;
    width: 50%;
    height: 320px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 25%;
}
.product:hover {
    background-color: gainsboro;
    transform: scale(1.1);
    transition: 0.5s;
}
.productImgDiv {
    height: 200px;
    display: flex;
    align-items: center;
}
.productImg {
    max-height: 100%;
    max-width: 100%;
}

/* VISTA PRODUCTO DETALLES */
.productDetails {
    margin-top: 10%;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.divImagenLeft {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.productImgDetails {
    max-height: 100%;
    max-width: 100%;
    padding: 5%;
}
.productInfoDetails {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
}
.btnAddCart {
    height: 50px;
}
/* VISTA LOGIN */
#loginDiv {
    text-align: center;
    margin: 10%;
}
/* VISTA CART */
.cartImg {
    width: 100px;
    height: 100px;
    padding: 5%;
    display: inline-block;
}
#cartDiv {
    text-align: center;
    margin-top: 5%;
    background-color: white;
}
.cartTable {
    margin: 0 auto;
}
.cartTable tr td{
    padding: 5%;
    max-width: 200px;
}
#totalCart {
    color: red;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: rgb(108, 104, 104);
    width: 100%;
    padding-top: 1%;
    border-top: 2px solid gray;
}
footer div h3 {
    text-align: center;
}
footer div ul {
    list-style: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    #headerLeft h1 {
        font-size: 1em;
        text-shadow: 5px 5px 5px black;
        -webkit-text-stroke: 1px black;
    }
    #metodosFooter img{
        width: 100%;
    }
    #vistas {
        overflow: hidden;
        overflow-y: scroll;
    }
    .cartTable tr td {
        padding: 0%;
    }
    .divImagenLeft {
        padding: 0%;
        max-height: 50%;
    }
    .productDetails {
        align-items: center;
    }
}